<launch>

  <arg name="pid_p" default="0.001" />
  <arg name="pid_i" default="0.0001" />
  <arg name="pid_d" default="0.0" />
  
  <arg name="step_dist" default="0.002" />
  <arg name="cycle_time" default="0.4" />
  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" value="true"/>
  </include>  
   
   <param name="robot_description" command="xacro --inorder '$(find ant_model_description)/urdf/ant_model.urdf'"/>
   <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model ant_model -z 0.001" output="screen" />

    <rosparam command="load" file="$(find ant_model_control)/config/control.yaml" subst_value="true" />
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
              respawn="false" output="screen"
              args="joint_state_controller
              left_forward1_position_controller
              left_forward2_position_controller
              left_forward3_position_controller
              left_forward4_position_controller
              left_middle1_position_controller
              left_middle2_position_controller
              left_middle3_position_controller
              left_middle4_position_controller
              left_backward1_position_controller
              left_backward2_position_controller
              left_backward3_position_controller
              left_backward4_position_controller
              right_forward1_position_controller
              right_forward2_position_controller
              right_forward3_position_controller
              right_forward4_position_controller
              right_middle1_position_controller
              right_middle2_position_controller
              right_middle3_position_controller
              right_middle4_position_controller
              right_backward1_position_controller
              right_backward2_position_controller
              right_backward3_position_controller
              right_backward4_position_controller">
        </node>
    

    
</launch>
